* {
    margin: 0;
    padding: 0;
    }

body {
      font-family: Montserrat, sans-serif;
      width: 100%;
          }

h1, h2, h3 {
    font-weight: 700;
    text-transform: uppercase;
}

h1 {
    font-size: 2rem;
    color: #fff;
    
    }

h2 { font-size: 1.7rem;
}

h3 {
    font-weight: 600;
    font-size: 1.4rem;
    margin-top: 1em;
}

p { margin-bottom: 2em;

}

a {
    color: white;
    text-decoration: none;
}


.navigation li, .logo {
    font-weight: 700;
    text-transform: uppercase;
} 


header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7 )), url("background.jpg");
    background-size: cover;
    background-position: right;
    /*height: 100%;     
    width: 100%;*/
    z-index: -1;
    height: 120%; 
    margin-bottom: 2em;
        }


.row {
    display: flex;
    justify-content: space-between;
    background: rgba(0, 0, 0, 0.54);
    color: #fff;
    padding: 2em 3em;
                 
}

.navigation li {
        display: none;
    }

.fab {
    margin-right: 1.3em;
 }

.hero {  
   z-index: 2;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
   margin: 2em;
 }

 .hero-title {
    margin-bottom: 1.5em;
 }   

 .hero-subtitle {
     color: #fff;
     margin-bottom: 3em;
     font-weight: 300;
     font-size: 1rem;
         
 }

 .cta-buttons {
     display: flex;
     flex-direction: column;
     margin-bottom: 2em;
 }

 .button {
     border: 5px solid #fff;
     margin-bottom: 1em;
     padding: 1em;
     text-transform: uppercase;
     text-decoration: none;
     font-weight: 700;
    
 }

.btn-hero {
    color: #fff;
 }

 .btn-hero:hover {
    background-color: #fff;
    color: #000;
    
}

.btn-widget {
    padding: 10 30;
    background-color: #fff;
    color: #000;
    border: 5px solid #000;

}

.btn-widget:hover {
    background-color: #000;
    color: #fff; 
}


.services {
    margin-top: 4em;
    margin-bottom: 4em;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.services-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.services-container h3 {
    margin-bottom: 1em;
}

.widget {
    max-width: 80%;
    min-height: 350px;
    margin: 2em;
    border: 1px solid black;
    padding: 2em;
    text-align: center;
}


.footer-row {
    background: rgba(0, 0, 0, 0.85);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2em 2em;
       }


.footer-icons {
    
  list-style: none;
  display: inline-flex;
  margin-bottom: 1em;
}

.fa-instagram {
    color: #C13584;
}

.fa-linkedin {
    color: #2867B2;
}

.fa-twitter {
    color: #1DA1F2;
}
    
 
@media (min-width: 890px) {
    h1, h2 {
        font-weight: 900;
    } 

    h1 {
        font-size: 4rem;
        
        }
    
    h2 { font-size: 3rem;
        margin-bottom: 1em;
    }
    
    h3 {
        font-size: 1.7rem;
    }

    button {
        margin: 1em;
    }
    

          
    .navigation {
        list-style: none;
   }
   
   .navigation li {
       display: inline-block;
           margin-left: 40px;
         }
   
    .fa-ellipsis-h:before {
        display: none;
    }


    header {
        background-position: center;
        min-height: 1000px;
        }
     .hero {
        margin-top: 10em ;
        margin-left: 50%;
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
        min-width: 890px;
        }


     .hero-title {
         margin-bottom: 1em;
     }
     .hero-subtitle {
         font-size: 1.6rem;
     }

     .cta-buttons {
         display: flex;
         flex-direction: row;
     }

     .btn-hero {
         width: 267px;
         margin: 1em;
     }
   
 
    .services {
         margin-bottom: 12em;
         margin-top: 12em;
    }
  

    .services-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    
      
    }
       
    .widget {
        width: 13%;
        min-height: 450px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .btn-widget {
        width: 80%;
    }

    .footer-row {
        background: rgba(0, 0, 0, 0.85);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
           }

    .footer-icons {
    
    margin-bottom: 0;
          }
 }